.education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.educationContainer {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    /* gap: 30px; */
    animation: fadeIn 3s;
    margin-bottom: 30px;
    max-width: 500px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }




.school {
    border: 3px solid white;
    border-radius: 3px;
    max-width: 400px;
    /* height: 300px; */

    padding: 0 20px 10px 20px;
    
    /* -webkit-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.75); */
    background-color: transparent;
    /* hsl(184.88deg 96.61% 24.83% / 73%) */
}

@media (max-width: 768px) {
    .school {
        /* width: 90%; */
        height: 100%;
    }
    .education {
        width: 90%;
    }
  }

  @media (max-width: 640px) {
    .education {
        align-items: stretch;
    }
    

  }

  
  @media (min-width: 1200px) {
    .school {
        width: 500px;
        max-width: none;
    }
}