.experience {
    display: "flex";
    flex-direction: "column";
    justify-content: "space-between";
    gap: 30px;
}


.experienceCard, .competenceCard {
    border: 3px solid white;
    border-radius: 3px;
    max-width: 500px;
    /* background-color: hsl(184.88deg 96.61% 24.83% / 73%); */
    margin: 0 10px 10px 10px;

    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.experienceCardTop {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    img {
        padding: 10px;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        transform: translate3d(0px, 0px, 0.1px);
    }
}

.experienceCardImage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.experienceCardButton {
    background: transparent;/* background-color: #a53d8e; */
    color: white;
    cursor: pointer;
    /* transition: ease background-color .5s; */
    border: 2px solid white;
    outline: 0;
    padding: 5px 10px;
    /* border-radius: 5px; */


}

.experienceCardButton:hover {
    cursor: pointer;
    filter: brightness(120%);
    background-color: #8ca9ff5c;
    transform: filter;
    transition-duration: .5s;
}

.experienceCardTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
    h4 {
        margin: 0;
        padding: 10px 10px 0 10px; 
    }
    p {
        margin: 0;
        padding: 5px 10px 0 20px; 
        font-size: 1rem;
        text-align: left;
    }
    p:first-of-type {
        font-size: 1.25rem;
    }

}

.experienceCardDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
}

hr {
    margin-top: 0;
}

.competenceContent {
    h4 {
        margin: 0;
    }
    
}

.competenceTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px 10px;
    padding: 0px 10px;
}
.competenceItems {
    background: white;
    color: #2d4470;
    border: 3px solid transparent;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 10px 0;
}



.detailsList {

    li {
        font-size: 1rem;
        text-align: left;
    }
}
@media (max-width: 640px) {
    .experience {
        gap: unset;   
    }
    p:first-of-type {
        font-size: 1.1rem;
    }
}