.footer {
    display: grid;
    height: 250px;
    background-color: #283243;
}

.footerName {
    display: flex;
    justify-content: center;
    color: white;
}

.footerIcons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0 10px 0;

}

 .footerImage {
    height: 50px;
    width: 50px;
    margin: 0 20px 0 20px;
   
}

#gitHubImage {
    /* color: black; */
    fill: currentColor;
    transition: fill 0.3s ease;
}

.footerImage:hover { 
    /* filter: grayscale(80%) contrast(80%);
    transform: filter;
    transition-duration: .5s; */
    color: orangered;
    /* invert(33%) sepia(86%) saturate(2108%) hue-rotate(355deg) brightness(102%) contrast(101%); */
   filter: brightness(128%) ;
    transform: filter;
    transition-duration: .5s;
}